<?xml version="1.0"?>
<launch>
    <node name="core" pkg="silbot3_core" type="silbot3_core" respawn="true">
        <rosparam file="$(find silbot3_core)/param/core.yaml" command="load" />
    </node>
    
    <node pkg="silbot3_localization" type="pub_uwb.py" name="pub_uwb"/>
    <node pkg="silbot3_localization" type="localize_uwb.py" name="localize"/>    
</launch>